<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/static/dash.css" />
		<title>Dashboard</title>
	</head>

	<body>
		<div id="container">
			<div id="header">
				<div id="branding">
					<h1 id="site-name"><a href="#">ColorBox Administration</a></h1>
				</div>
				<div id="user-tools">
					Welcome,
					<strong>admin</strong>.
				</div>
			</div>
			<div class="main" id="main">
				<div class="content">
					<div id="content">
						<h1>Subscribers Administration</h1>
            <div class="module">
                <table>
                  <caption>
                    <a href="#" class="section" title="Subscribers">Subscribers</a>
                  </caption>
                  <tbody><tr>
                    <th scope="row"><a href="/all_subs">All Subscribers</a></th>
                    <td><a href="/all_subs">View</a></td>
                  </tr>
                </tbody></table>
              </div>
			  <div class="module">
                <table>
                  <caption>
                    <a href="#" class="section" title="Emails">Emails</a>
                  </caption>
                  <tbody><tr>
                    <th scope="row"><a href="/new_email">New Email</a></th>
                    <td><a href="/new_email">New</a></td>
                  </tr>
                </tbody></table>
              </div>
		      </div>
        </div>
      </div>
	</body>
</html>
